MONGO_URI=
SECRET_KEY=
CLIENT_URL=http://localhost:5173
ESEWA_FORM_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_URL=https://rc.esewa.com.np/api/epay/transaction/status/
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=
